.bg-believer{
    background-color: #FBF8F0;
}

.believer-title{
    color: #000000;
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}
.img{
    height: 300px;
    width: 400px;
    display: block;
    margin: auto;
}

.slick-arrow {
    color: black;
}

.slick-prev{
    z-index: 100;
    left: 20px !important;
}

.slick-next{
    z-index: 100;
    right: 20px !important;
}


