.Register{
    display: flex;
    flex-direction: column;
}
.Register .heading-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#ED5009 ;
    gap: 0.5rem;
    margin-bottom: 2rem;
}
.Register .heading-btn button{
    height: 50px;
    width: 200px;
    border: 1px solid #ED5009;
    background-color: #4E62D6;
    color: white;
    border-radius: 2px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}
.Register .heading-btn h2{
    color: black;
}

.Register  .reg-area{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reg-area .reg-text{
    margin-right: 1rem;
    width: 50%;
}
.reg-area .reg-text h3{
    text-align: justify;
    font-size: 1rem;
    font-weight: 600;
}
@media (max-width:1000px) {
    .Register .reg-img img{
        height: 300px;
    }
    .Register{
    gap: 1rem ;
   }
    .Register .reg-area{

      flex-direction: column;
        align-items: flex-start;
        justify-content:center;
        gap: 1rem ;
        margin-right: 1rem;
    }
     .reg-area .reg-text{
    width: 100%;
    padding-left: 45%;

     }
}