.Register{
    display: flex;
    flex-direction: column;
}
.Register .heading-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#ED5009 ;
    gap: 0.5rem;
}

.Register  .reg-area{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Register .coach-rishi{
    
}
.reg-area .reg-text{
    margin-right: 1rem;
    width: 50%;
}
.reg-area .reg-text h3{
    text-align: justify;
    font-size: 1rem;
    font-weight: 600;
}
@media (max-width:1000px) {
    .Register .reg-img img{
        height: 300px;
    }
    .Register{
    gap: 1rem ;
   }
    .Register .reg-area{

      flex-direction: column;
        align-items: flex-start;
        justify-content:center;
        gap: 1rem ;
        margin-right: 1rem;
    }
     .reg-area .reg-text{
    width: 100%;
    padding-left: 45%;

     }
}